<Context privileged="true" antiResourceLocking="false"
         docBase="/usr/local/tomcat/webapps/manager">

    <Valve className="org.apache.catalina.valves.RemoteAddrValve"
           allow=".*" />

    <ResourceLink
            name="jdbc/BackendDatabase"
            global="jdbc/BackendDatabase"
            type="javax.sql.DataSource"/>

</Context>